@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto Mono',Georgia, 'Times New Roman', Times, serif;
}

/* 
:: BLEND MODES :: 
normal 
multiply
overlay 
darken
lighten
color-dodge
color-burn 
hard-light 
soft-light 
difference 
exclusion 
hue 
saturation 
color  
luminosity 
*/

.container {
    margin: 0 auto;
}

img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inner-image-container{
  height: inherit;    
}

.image-container{
    position: relative;
}

.absolute{
height: 100%;
width: 100%;
background-color: white;
position: absolute;
top:0;
left: 0;
z-index: -1;
}

.operations,.img-selector-container,.download-button-container{
    margin: 14px auto 28px auto;
    display: flex;
    gap:1.5rem;
    align-items: center;
    justify-content: center;
}

#blendMode,#innerLayerColor,#innerLayerColorOpacity,#imageOpacity {
    font-size: larger;
    padding: 0.5em;
    margin: 8px 0;
    width: 100%;
    outline: none;
    border: 2px solid rgba(128, 0, 128, 0.596);
}

#file-selector{
    padding: 0.5em;
    font-size: larger;
    margin: 6px 0;
}

input[type="file"]::file-selector-button{
    padding: 8px;
}

.download-btn{
    padding: 12px;
    font-size:22px;
    font-weight: bolder;
    outline: none;
    background-color: rebeccapurple;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.download-btn:hover{
    color: rgb(246, 237, 255);
    background-color: rgb(63, 241, 84);
}

#download{
    text-decoration: none;
    color: white;
}

/* media queries */
@media(max-width:600px) {
    .operations,.img-selector-container{
        flex-direction: column;
        align-items: flex-start;
        margin: 14px;
    }
    input[type="file"]::file-selector-button{
        padding: 4px;
    }
    .download-btn{
        padding: 8px;
        font-size: 18px;
    }
}